# Python
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# System
.DS_Store

# IDE
.vscode/

# PlatformIO
.pio/
ESP_driver/.pio/

# Database
*.db

# Uploads & Generated Content
web_interface/src/static/uploads/*
!web_interface/src/static/uploads/.gitkeep
vision/vision_debug.jpg

# Calibration (local specific)
vision/homography.json
